# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/venv/
/env/
__pycache__/
launch.json
*.mo
*.pyc
*.orig

*.sqlite3

